body {
    background-color:rgb(30, 144, 255);
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRLBDMLeI4lV30d1DXINHGeg7-dILob6Aw-Eg&usqp=CAU");
    background-repeat:no-repeat;
    background-size:100%;
    color:rgb(30, 144, 255);
    margin-left:60px;
   
}
h1 {
    color: rgb(220, 20, 60);

}

