body {
  background-color: white;
  background-image:url("https://blenderartists.org/uploads/default/original/4X/a/d/d/added512b33f1ab870b80f5ea308c03f080d07bf.png");
  background-repeat:no-repeat;
  background-size:100%;
  color: lawngreen
}

